<p class="card-title lead text-center">
    รายการตรวจย่อย
</p>
<table id="datatable" class="table table-striped table-bordered table-sm table-hover">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>ทะเบียน</th>
            <th>ภาค</th>
            <th>สาขา</th>
            <th>ยี่ห้อรถ</th>
            <th>GPS</th>
            <th>Sub Contact</th>
            <th>ประเภทรถ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int itemNo = 1;}
        @foreach (var item in ViewBag.Vehicles) {
            <tr>
                <td>@(itemNo++)</td>
                <td>@item.PlateNumber</td>
                <td>@item.RegionName</td>
                <td>@item.BranchCode</td>
                <td>@item.Brand</td>
                <td>@item.GpsProvider</td>
                <td>
                    @if (item.IsSubContact) {
                        @item.SubContact.Name
                    }
                </td>
                <td>@item.VehicleType</td>
                <td>
                    <a title="ลบข้อมูล" class="btn btn-outline-danger px-2 py-1" onclick="return deleteItem(@item.Id)">
                        <i class="far fa-trash-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>