@model Dictionary<string, List<ItemMonthly>>;
<div class="d-flex justify-content-between">
    <div class="d-flex flex-row"><h5 class="mt-3">รายงานเลขระยะทางรวม ปี @ViewBag.Year - เดือน @ViewBag.Month</h5></div>
    <div class="d-flex flex-row">
        <a asp-action="ExcelDistanceMonth"
           asp-controller="DistanceReports"
           asp-route-year="@ViewBag.Year"
           asp-route-month="@ViewBag.M"
           class="btn btn-outline-danger"><i class="fas fa-file-excel"></i> Excel</a>
    </div>
</div>

@if (Model != null) {
    <table class="table table-sm">
        <thead class="orange white-text">
            <tr class="text-center">
                <th class="font-weight-bold">ภาค</th>
                <th class="font-weight-bold">สาขา</th>
                <th class="font-weight-bold">ระยะทางรวม รถยนต์</th>
                <th class="font-weight-bold">ระยะทางรวม มอเตอร์ไซด์</th>
                <th class="font-weight-bold">ระยะทางรวม รถSub</th>
                <th class="font-weight-bold">รวม</th>
            </tr>
        </thead>
        <tbody>
            @{int totPickup = 0, totMotor = 0, totSub = 0;
            }
            @foreach (var key in Model.Keys) {
                List<ItemMonthly> values;
                Model.TryGetValue(key, out values);
                totPickup = values.Sum(x => x.PickupKm);
                totMotor = values.Sum(x => x.MotorcycleKm);
                totSub = values.Sum(x => x.SubContactKm);
                foreach (var value in values) {
                    var total = value.PickupKm + value.MotorcycleKm + value.SubContactKm;
                    <tr class="text-center">
                        <td class="p-1">@($"{key:n0}")</td>
                        <td class="p-1">@($"{value.BranchCode:n0}")</td>
                        <td class="p-1">@($"{value.PickupKm:n0}")</td>
                        <td class="p-1">@($"{value.MotorcycleKm:n0}")</td>
                        <td class="p-1">@($"{value.SubContactKm:n0}")</td>
                        <td class="p-1">@($"{total:n0}")</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="text-center">
                <td colspan="2" class="font-weight-bold p-1">รวม</td>
                <td class="font-weight-bold p-1">@($"{totPickup:n0}")</td>
                <td class="font-weight-bold p-1">@($"{totMotor:n0}")</td>
                <td class="font-weight-bold p-1">@($"{totSub:n0}")</td>
                <td class="font-weight-bold p-1">@($"{totPickup+totMotor+totSub:n0}")</td>
            </tr>
        </tfoot>
    </table>
}
