@model PenaltyNotice

@{
    Layout = null;
}
<style>
    table {
        border: 0.05em solid #000;
        text-align: center;
        padding: 0;
        margin: 0;
    }

        table th, table td {
            border: 0.05em solid #000;
            font-size: 13px;
            padding: 0px;
            margin: 0;
        }
</style>

<div>
    <div style="float:right">
        <img src="@ViewData["ImageData"]" width="200" height="25" />
    </div>
</div>
<div style="height:50px"></div>
<div style="height:40px;width:100%;text-align:center;">
    <span style="font-weight:100;text-decoration:underline">เอกสารแจ้งการลงโทษกรณีเกิดอุบัติเหตุที่เป็นฝ่ายผิดหรือฝ่าฝืนกฎระเบียบความปลอดภัย</span>
</div>
<div style="height:30px">
    <span style="font-size:14px"> ที่ @Model.PenaltyNoticeCode</span>
</div>
<div style="height:30px">
    <span style="font-size:14px"> เรียน @Model.EmployeeName</span>
    <span style="font-size:14px"> สาขา @Model.BranchName</span>
</div>
<div style="height:30px">
    <span style="font-size:14px"> เรื่อง แจ้งการลงโทษเนื่องจากเกิดอุบัติเหตุและฝ่าฝืนกฎระเบียบความปลอดภัย(กรณีเป็นฝ่ายผิด)</span>
</div>

<div style="margin-top:20px">
    <div style="width:90%;height:20px;float:right">
        <span style="font-size:14px">ตามที่ @Model.EmployeeName ได้เกิดอุบัติเหตุ @Model.IncidentDescription และมีพฤติกรรมเสี่ยงที่ไม่ปลอดภัยคือ</span>
    </div>
</div>
<div style="height:30px"></div>
<div style="height:120px">
    <table>
        <thead>
            <tr>
                <th style="font-size:14px" width="130">ลำดับที่</th>
                <th style="font-size:14px" width="650">พฤติกรรมเสี่ยง</th>
            </tr>
        </thead>
        <tbody>
            @{ int itemNo = 1;}
            @foreach (var item in Model.Items) {
                <tr>
                    <td>@(itemNo++)</td>
                    <td>@item.Name</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div style="height:20px">
    <span style="font-size:14px;text-decoration:underline">โดยมีรายละเอียดเพิ่มดังนี้</span>
</div>
<div style="height:25px">
    <span style="font-size:14px">วันที่เกิดเหตุ : @($"{Model.CaseDate:dd/MM/yy}")</span>
</div>
<div style="height:25px">
    <span style="font-size:14px"> ซึ่งท่านได้ก่อให้เกิดอุบัติเหตุเป็นฝ่ายผิด ครั้งที่ : @Model.CaseCount </span>
</div>
<div style="height:25px">
    <span style="font-size:14px"> ส่งผลให้เกิดอุบัติเหุตระดับ : @Model.DeductDescription</span>
</div>
<div style="margin-top:10px">
    <div style="width:90%;height:25px;float:right">
        <span style="font-size:14px"> ดังนั้นจึงขอแจ้งให้ท่านทราบการลงโทษเนื่องจากอุบัติเหตุและฝ่าฝืนกฎระเบียบความปลอดภัย</span>
    </div>
</div>
<div style="height:25px">
    <span style="font-size:14px">กรณีเป็นฝ่ายผิดดังนี้</span>
</div>

<div style="margin-top:25px">
    <table cellpadding="1" cellspacing="0">
        <tr>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-left:solid #000 1px">
                ระดับการเตือน (ขึ้นกับระดับของเคส)
            </td>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px">
                @Model.Warning
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-left:solid #000 1px">
                การหักคะแนนเนื่องจากอุบัติเหตุ (ขึ้นกับระดับของเคส)
            </td>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px">
                หักคะแนน @Model.DeductPointAccident คะแนน
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-left:solid #000 1px">
                การหักเงิน (กรณีมีทรัพย์สินบริษัทเสียหาย)
            </td>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px">
                หักเงิน @($"{Model.DeductMoneyAccident:n0}") บาท
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-left:solid #000 1px;">
                การหักคะแนนและหักเงินเนื่องจากพบพฤติกรรมเสี่ยง <br /> (กรณีฝ่าฝืนกฎพิทักษ์ชีวิต)
            </td>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;">
                หักคะแนน @Model.DeductPointUnsafe คะแนน <br />
                หักเงิน @($"{Model.DeductMoneyUnsafe:n0}") บาท
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-left:solid #000 1px;
                border-bottom:solid #000 1px">
                คะแนนความปลอดภัยที่ถูกหักสะสมในปี
            </td>
            <td style="font-size:14px;width:250px;text-align:left;padding-left:0.5em;
                border-top:solid #000 1px;
                border-right:solid #000 1px;
                border-bottom:solid #000 1px">
                @ViewData["TotalDeduct"] คะแนน
            </td>
        </tr>
    </table>
</div>
<div style="margin-top:30px">
    <div style="width:50%;float:left;text-align:center">
        <div><span style="font-size:13px;">ข้าพเจ้า ............................................</span></div>
        <div style="height:15px"></div>
        <div><span style="font-size:12px;">ได้รับทราบข้อมูลและยินยอมให้ดำเนินการตามที่ได้แจ้งดังรายละเอียดที่แจ้งมา</span></div>
        <div style="height:25px"></div>
        <div><span style="font-size:13px;">ลงชื่อพนักงาน</span></div>
        <div style="height:15px"></div>
        <div><span style="font-size:13px;">............................................</span></div>
        <div style="height:30px"></div>
        <div><span style="font-size:13px;">ลงชื่อ</span></div>
        <div style="height:25px"></div>
        <div><span style="font-size:13px;">............................................</span></div>
        <div style="height:25px"></div>
        <div><span style="font-size:13px;">Safety</span></div>

    </div>
    <div style="width:50%;float:right;text-align:center">
        <div><span style="font-size:13px;">ลงชื่อหัวหน้าสาขา</span></div>
        <div style="height:50px"></div>
        <div><span style="font-size:13px;">............................................</span></div>
        <div><span style="font-size:13px;">ผู้ออกเอกสาร</span></div>
        <div style="height:50px"></div>
        <div><span style="font-size:13px;">ลงชื่อ</span></div>
        <div style="height:25px"></div>
        <div><span style="font-size:13px;">............................................</span></div>
        <div style="height:25px"></div>
        <div><span style="font-size:13px;">HR</span></div>

    </div>
</div>